body{
	font-style: italic;
	font-size: 135%;
}
div{
	border: 1px solid;
	margin-bottom: 10px;
	
	
	width: 70%;
}
h1{
	text-align: center;
}
h2{
	float: right;
	position: relative;    
	border: 1px solid;
	margin-top: 0px;	
	text-align: center;
	width:120px;
}
p{
    padding: 20px;
}
div.Chicken{
	background-color: green;

}
div.Beef{
	background-color: blue;
}
div.Sushi{
	background-color: lightgreen;
}
.Chicken h2{
  background-color: orange;
}
.Beef h2{
background-color: red;
}
.Sushi h2{
background-color: yellow;
}