body{
	margin: 20px;
	font-family: sans-serif ;
}
*{
	box-sizing: border-box;

}
/*-----------MAIN HEADING-----------*/
h1{
	text-align: center;
	font-family: cursive;
}
/*-----------SECTION -----------*/
.C,.B,.S{
	border: 1px solid black;
	border-width: thick;
	margin-bottom: 20px;
	background-color: grey;
	position: relative;
}
/*-----------SECTION HEADING-----------*/
h2{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-width: thick;
	text-align: center;
	margin: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	color: white;
	font-size: 175%
    
}	
/*-----------THE TEXT INSIDE SECTION-----------*/
p{
	clear: right;
	padding: 20px;
	font-size: 125%;

}
/*-----------COLOR TO THE SECTION HEADING-----------*/
div.C h2{
	background-color: #FF0000;
}
div.B h2{
	background-color: #E74C3C;
}
div.S h2{
	background-color: #F1C40F;
}
/*-----------IF THE SIZE IS GREATER THAN 991px-----------*/
@media(min-width: 992px){
	.C,.B,.S{
		float: left;
		width: 30%;
	}
	.C,.B{
		margin-right: 5%;
	}

}
/*-----------IF THE SIZE IS LESS THAN 992px AND GREATER THAN 776px-----------*/
@media(min-width: 776px) and (max-width: 991px)
{
	.C,.B{
		float: left;
		width: 47.5%;
	}
	.C{
		margin-right: 5%;
	}
	.S{
		clear: both;
	}
}